@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);

#form {
  background-color: white;
  color: #123456;
  box-shadow: 0px 1px 1px 1px gray;
  font-weight: 400;
  width: 350px;
  margin: 50px 250px 0 50px;
  float: left;
  height: 500px;
}
#form div {
  padding: 10px 0 0 30px;
}
h3 {
  margin-top: 0px;
  color: white;
  background-color: forestgreen;
  text-align: center;
  width: 100%;
  height: 50px;
  padding-top: 30px;
  font-family: "Fauna One", serif;
}
#mainform {
  width: 960px;
  margin: 20px auto;
  padding-top: 20px;
  font-family: "Fauna One", serif;
}
#mainform h2 {
  width: 100%;
  float: left;
  margin-left: 50px;
}
input {
  width: 90%;
  height: 30px;
  margin-top: 10px;
  border-radius: 3px;
  padding: 2px;
  box-shadow: 0px 1px 1px 0px darkgray;
}
.innerdiv {
  width: 65%;
  float: left;
}
input[type="button"] {
  background-color: forestgreen;
  border: 1px solid white;
  font-family: "Fauna One", serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
#clear {
  clear: both;
}

#formget {
  float: right;
  width: 30%;
  margin-top: 30px;
}
.buttons-style {
  margin-top: 20px;
  background-color: forestgreen;
  border: 1px solid white;
  font-family: "Fauna One", serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

table,
th,
td {
  margin-top: 20px;
  border: 1px solid forestgreen;
  font-family: "Fauna One", serif;
}
thead {
  font-family: "Fauna One", serif;
}

.table-title {
  cursor: auto;
}
