@import "variables";


h3{
    color: $darkBlue;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 20px;
    font-weight: 900;
    vertical-align: middle;
  }

.alumnos{
    color:$blueP;
    font-size: large;
  }