@import "variables";
@import "fuentes";

$ancho-per: 50%;
$ancho-px: 100px;

body {
  font-family: $mainFont;
  background-image: linear-gradient(
    90deg,
    rgba(58, 76, 180, 1) 0%,
    rgba(29, 156, 253, 0.5088410364145659) 92%
  );
  width: $ancho-per * 2;
}

h1 {
  color: $darkBlue;
  font-size: 2.5rem;
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 20px;
  font-weight: 900;
  vertical-align: middle;
}

h2 {
  color: $softWhite;
  font-size: 2.2rem;
  margin-left: 50px;
  margin-top: 70px;
}

h3 {
  color: $softWhite;
  font-size: 1.7rem;
}

p {
  color: $softWhite;
  font-size: 1.5rem;
  margin: auto;
}

ul {
  color: $softWhite;
}

img {
  width: 200px;
}

ol {
  font-size: 1.2rem;
}

a {
  font-size: 2rem;
}

.header {
  background-color: $blueP;
  width: $ancho-per * 2;
  padding: 10px;
  height: 30px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
}


.mainTitle {
  position: absolute;
  width: $ancho-px * 6;
  height: 248px;
  left: 64px;
  top: 150px;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  line-height: 62px;
  color: $softWhite;
}

.formTitle {
  margin-left: 25%;
  margin-top: 10%;
}

.formstyle {
  display: grid;
  background-color: transparent;
  width: $ancho-per;
  padding: 30px;
  color: $softWhite;
  font-size: 2rem;
  margin-left: 25%;
}

.electricista {
  position: absolute;
  width: $ancho-px * 6;
  height: 320px;
  left: 1000px;
  margin-top: 80px;
  z-index: 100;
  background: transparent;
}

.mantenimientoContainer {
  margin-top: 150px;
}

.containerCustomers {
  display: flex;
  justify-content: space-evenly;
}

.circleCustomers {
  width: $ancho-px * 2;
  height: 200px;
  border-radius: 150px;
  border-width: 6px;
  background-color: $darkBlue;
}

.gridContainer {
  width:auto;
  display: grid;
  align-items: center;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(6, 100px);
  grid-gap: 8rem;
  grid-template-areas: "box1 box1 box1" "somos somos somos" "box2 box3 box4" "box6 box7 box8" "box9 box10 box11" ". box5 .";
}

.box-1 {
  grid-area: box1;
  background-color: transparent;
  align-items: flex-start;
  margin-top: 200px;
}

.somos {
  grid-area: somos;
  margin-top: 400px;
}

.box-2 {
  grid-area: box2;
  background-color: $darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-3 {
  grid-area: box3;
  background-color: $darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-4 {
  grid-area: box4;
  background-color: $darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-6 {
  grid-area: box6;
  background-color: $darkBlue;
  height: 300px;
  margin-top: 250px;
}

.box-7 {
  grid-area: box7;
  background-color: $darkBlue;
  height: 300px;
  margin-top: 250px;
}

.box-8 {
  grid-area: box8;
  background-color: $darkBlue;
  height: 300px;
  margin-top: 250px;
}

.box-9 {
  grid-area: box9;
  background-color: $darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-10 {
  grid-area: box10;
  background-color: $darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-11 {
  grid-area: box11;
  background-color: $darkBlue;
  height: 50px;
  margin-top: 250px;
}

.servicesTitles {
  align-items: center;
}

.services{
  margin-top: 4%;
  text-align: center;
 
}
.circleImages {
  width: $ancho-px * 3;
  height: 300px;
  border-radius: 150px;
  border: solid;
  border-width: 6px;
  border-color: $softGray;
  transition: transform 0.2s, outline 0.5s;
  display: block;
  opacity: 0.3;
}

.circleImages:hover {
  transform: scale(1.2);
  opacity: 0.8;
  border-width: 10px;
  cursor: pointer;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-inline: 4%;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.valoresContainer {
  margin-top: 150px;
}

.nosotros {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.nosotrosTitle {
  color: $softWhite;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
}

.nosotrosImage {
  width: $ancho-px * 4;
  height: 300px;
}

.nosotrosText {
  width: $ancho-px * 10;
  height: 300px;
  font-style: italic;
  margin-top: 500px;
}
.valorescontainer {
  width: $ancho-per;
  height: 50%;
  background-color: rgb(238, 226, 226);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 500px;
}
.valores {
  display: flex;
}
.valores__item {
  background-color: $darkBlue;
  opacity: 0.9;
  width: $ancho-px * 3;
  height: 50px;
  margin-top: 20px;
  color: $softWhite;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 5px;
}
.valores__item:hover {
  transform: scale(1.2);
  opacity: 1;
  border-width: 10px;
}

.valores__centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.valores__compromiso {
  grid-area: val2;
}

.valores__eficiencia {
  grid-area: val3;
}

.valores__pasion {
  grid-area: val4;
}

.valores__evolucion {
  grid-area: val5;
}

.mantenimientoText {
  width: $ancho-per + 30%;
  height: 30%;
  /* text-align: center; */
  margin-left: 10%;
}

.mantenimientoTitle {
  margin-left: 10%;
}

.customers-carousel {
  margin-top: 400px;
}

.footer{
  display: flex;
  justify-content: space-around;
  background-color:$softWhite;
  height: 50px;
  width: 100%;
}
.footerText{
  font-size: 1rem;
  color:gray;
  margin-top:10px;
  margin-left: 20px;
  font-weight: bold;

}