@import "variables";
@import "fuentes";

$ancho-per: 50%;
$ancho-px: 100px;

body {
  font-family: $mainFont;
  background-image: linear-gradient(
    90deg,
    rgba(58, 76, 180, 1) 0%,
    rgba(29, 156, 253, 0.5088410364145659) 92%
  );
  width: $ancho-per*2;
}

h1 {
  color: $darkBlue;
  font-size: 50px;
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 20px;
  font-weight: 900;
  vertical-align: middle;

}

h2 {
  color: $softWhite;
  font-size: 40px;
  margin-left: 50px;
  margin-top: 70px;
}

h3 {
  color: $softWhite;
  font-size: 35px;
}

p {
  color: $softWhite;
  font-size: 25px;
  margin: auto;
}

ul {
  color: $softWhite;
}

img {
  width: 200px;
}

ol {

  font-size: 20px;
}

a {
  font-size: 30px;
}

.header {
  background-color: $blueP;
  width:$ancho-per*2;
  padding: 10px;
  height: 30px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
}
.container-xxl {
  height: 30px;
  width:$ancho-per*2;
}

.mainTitle {
  position: absolute;
  width: $ancho-px*6;
  height: 248px;
  left: 64px;
  top: 150px;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  line-height: 62px;
  color: $softWhite;
}

.menuContainer {
  margin-top: -50px;
  text-align: end;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  color: $softWhite;
  font-weight: 700;
  justify-content: space-between;
}

.menu li {
  display: inline-block;
  width: $ancho-px+54px;
  padding: 5px 10px;
  background-color: transparent;
  text-align: center;
  color:$softWhite;
  font-weight: 700;
  top: 10px;
  left: 10px;
}

.menu li:hover {
  color:$softWhite;
  font-weight: bold;
  text-decoration: underline;
}

.contactButton {
  background-color: $darkBlue;
  border-radius: 5%;
  padding: 10px;
  color:$softWhite;
  margin-left: 50px;
}

.contactButton:hover {
  background-color: $grayP;
}

.formTitle {
  margin-left: 25%;
  margin-top: 10%;
}

.formstyle {
  display: grid;
  background-color: transparent;
  width:$ancho-per;
  padding: 30px;
  color:$softWhite;
  font-size: 30px;
  margin-left: 25%;
  



}



.electricista {
  position: absolute;
  width: $ancho-px*6;
  height: 320px;
  left: 1000px;
  margin-top: 80px;
  z-index: 100;
  background: transparent;
}

.mantenimientoContainer {
  margin-top: 150px;
}

.containerCustomers {
  display: flex;
  justify-content: space-evenly;
}

.circleCustomers {
  width: $ancho-px*2;
  height: 200px;
  border-radius: 150px;
  border-width: 6px;
background-color:$darkBlue;
}

.gridContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(6, 100px);
  grid-gap: 8rem;
  grid-template-areas: "box1 box1 box1" "somos somos somos" "box2 box3 box4" "box6 box7 box8" "box9 box10 box11" ". box5 .";
}

.box-1 {
  grid-area: box1;
  background-color: transparent;
  align-items: flex-start;
  margin-top: 200px;
}

.somos {
  grid-area: somos;
  margin-top: 400px;
}

.box-2 {
  grid-area: box2;
  background-color:$darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-3 {
  grid-area: box3;
  background-color:$darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-4 {
  grid-area: box4;
  background-color:$darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-6 {
  grid-area: box6;
  background-color:$darkBlue;
  height: 300px;
  margin-top: 250px;
}

.box-7 {
  grid-area: box7;
  background-color:$darkBlue;
  height: 300px;
  margin-top: 250px;
}

.box-8 {
  grid-area: box8;
  background-color:$darkBlue;
  height: 300px;
  margin-top: 250px;
}

.box-9 {
  grid-area: box9;
  background-color:$darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-10 {
  grid-area: box10;
  background-color:$darkBlue;
  height: 50px;
  margin-top: 250px;
}

.box-11 {
  grid-area: box11;
  background-color:$darkBlue;
  height: 50px;
  margin-top: 250px;
}

.servicesTitles {
  align-items: center;
}

.circleImages {
  width: $ancho-px*3;
  height: 300px;
  border-radius: 150px;
  border: solid;
  border-width: 6px;
  border-color: $softGray;
  transition: transform 0.2s, outline 0.5s;
  display: block;
  opacity: 0.3;
}

.circleImages:hover {
  transform: scale(1.2);
  opacity: 0.8;
  border-width: 10px;
  cursor: pointer;
}

.servicesContainer {
  margin-top: 150px;
}

.services {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.valoresContainer {
  margin-top: 150px;
}

.nosotros {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.nosotrosTitle {
  color: $softWhite;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
}

.nosotrosImage {
  width: $ancho-px*4;
  height: 300px;
}

.nosotrosText {
  width: $ancho-px*10;
  height: 300px;
  font-style: italic;
  margin-top: 500px;
}

.gridValues {
  display: grid;
  align-items: center;
  grid-template-columns: auto 400px auto;
  grid-template-rows: repeat(6, 100px);
  grid-gap: 15rem;
  grid-template-areas: "val1 val2 ." "val3 val4 ." " val5 val5 .";
}

.val-1 {
  grid-area: val1;
  background-color:$darkGray;
  height: 150px;
  margin-top: 250px;
}

.val-2 {
  grid-area: val2;
  background-color:$darkGray;
  height: 50px;
  margin-top: 250px;
}

.val-3 {
  grid-area: val3;
  background-color:$darkGray;
  height: 50px;
  margin-top: 250px;
}

.val-4 {
  grid-area: val4;
  background-color:$darkGray;
  height: 50px;
  margin-top: 250px;
}

.val-5 {
  grid-area: val5;
  background-color:$darkGray;
  height: 50px;
  margin-top: 250px;
}

.mantenimientoText {
  width: $ancho-per + 30%;
  height: 30%;
  /* text-align: center; */
  margin-left: 10%;
}

.mantenimientoTitle {
  margin-left: 10%;
}

.customers-carousel{
  margin-top: 400px;
}
.carousel-item{
margin:auto;
}